@model IEnumerable<Buisness.Interop.Data.PurchasedFilmDto>

    @{
        ViewData["Title"] = "Купленные фильмы";
    }

    <h3>Фильмы</h3>

    <hr />
    @foreach (var item in Model)
    {
        <div class="container" style="border-radius: 5px">
            <div class="row" style="border-radius: 3px">
                <div class="col-3">@item.Film?.Name</div>
                <div class="col align-self-end">
                </div>
            </div>
        </div>
     }

